html {
  font-family: "Quicksand", sans-serif;
}

body {
  position: relative;
  margin: 0;
}

/*Decoración*/
.decoracion-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 350px;
}

.decoracion-2 {
  position: absolute;
  top: 0;
  right: 0;
  height: 350px;
  z-index: -1;
}

.decoracion-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 350px;
  z-index: -1;
}

/*Contenedor principal*/
main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 40px;
  margin: 0px auto;
  max-width: 1200px;
  padding: 30px;
}

/*Sección de la columna izquierda*/
.contenedor-foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-foto img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  padding: 8px;
  border: 20px solid #f3d8db;
  position: relative;
  bottom: -60px;
}

.informacion-general {
  background-color: #f3d8db;
  border-radius: 24px;
  padding: 40px 20px;
}

.datos {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.contenedor-datos img {
  width: 30px;
  height: 30px;
}

.contenedor-datos a {
  color: black;
}

.titulo-izquierdo {
  background-color: white;
  border-radius: 20px;
  padding: 6px;
  text-align: center;
}

/*Barras de progreso de habilidades e idiomas*/
.barra-progreso {
  width: 100%;
  height: 7px;
  border-radius: 7px;
  background: white;
  overflow: hidden;
}

.valor-barra-progreso {
  height: 7px;
  background-color: #c9697c;
}

.tabla {
  width: 100%;
}

.tabla tr td:first-child {
  width: 30%;
}

/*Redes sociales*/
.logos {
  display: flex;
  justify-content: center;
}

.logos img {
  width: 50px;
  height: 50px;
}

/* Intereses */
.lista-intereses {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.lista-intereses img {
  width: 16px;
  height: 16px;
}

.lista-intereses p {
  margin: 0;
}

/*Formulario*/
#email {
  border-radius: 20px;
  padding: 6px;
  width: calc(100% - 12px);
  border: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

#mensaje {
  border-radius: 20px;
  padding: 6px;
  width: calc(100% - 12px);
  border: none;
  margin-top: 15px;
}

.contenedor-boton {
  text-align: center;
}

.boton {
  border-radius: 20px;
  margin-top: 10px;
  background: #c9697c;
  color: white;
  padding: 8px 20px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.boton:hover {
  background-color: #f3d8db;
  border: 1px solid #c9697c;
  color: #c9697c;
}

/*Sección de la columna derecha*/

.titulo-principal {
  text-align: center;
  margin-top: 0px;
}
.titulo-principal h1 {
  font-size: 60px;
}

.titulo-derecho {
  background-color: #f3d8db;
  border-radius: 20px;
  padding: 6px;
  text-align: center;
}

.titulo-derecho-1 {
  background-color: #c9697c;
  border-radius: 20px;
  padding: 6px;
  text-align: center;
  color: white;
}

.perfil {
  text-align: justify;
}

.educacion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.educacion h3,
.educacion h4,
.educacion p {
  margin: 10px 0;
}

.experiencia-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fecha {
  text-align: right;
}

.funciones {
  text-align: justify;
}

.experiencia-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.experiencia-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*Inicio responsive*/

/*Celular muy pequeño*/
@media (max-width: 359px) {
  .titulo-principal h1 {
    font-size: 32px;
  }
  .titulo-derecho-1 {
    font-size: 19px;
  }
  .titulo-derecho {
    font-size: 19px;
  }
  h4 {
    margin-inline-end: 1em;
  }
  .titulo-izquierdo {
    font-size: 19px;
  }
}

/*Celular*/
@media (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    padding: 30px 20px;
  }
  .decoracion-1 {
    height: 210px;
  }
  .decoracion-2 {
    height: 210px;
  }
  .decoracion-3 {
    display: none;
  }
  .titulo-principal h1 {
    font-size: 40px;
  }
  .titulo-derecho {
    font-size: 22px;
  }
  .titulo-derecho-1 {
    font-size: 22px;
  }
  .titulo-izquierdo {
    font-size: 22px;
  }
  .contenedor-foto img {
    height: 180px;
    width: 180px;
  }
}
/*Tablet*/
@media (max-width: 991px) {
  .decoracion-3 {
    display: none;
  }
  .titulo-principal h1 {
    font-size: 50px;
  }
}
